// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

// Color Definition

$ippolito-blue: #24428D;
$digital-blue: #4074F7;
$white: #ffffff;
$light-grey: #F5F5F5; 
$dark-grey: #333333;

// Font Definition
$ippolito-font: 'Roboto', sans-serif;