@import './vars';
@import './modules/home';
@import './modules/footer';
@import './modules/about';
@import './modules/contact';
@import './modules/resources';

.btn-primary {
    background-color: $digital-blue !important;
    color: $white !important;
    font-weight: 700;
    font-size: 16px;
}

p {
    color: #333333;
    line-height: 32px;
    font-size: 16px;
    font-weight: 300;
    font-family: $ippolito-font;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

@media (max-width: 414px) {
    #hero-content {
        margin-top: 50px !important;
    }

    #about {
        padding: 16px;
    }

    #green_initiatives {
        h3 {
            padding-top: 16px !important;
        }

        padding: 16px !important;
    }

    #blue_con {
        padding: 16px !important;
    }

    #technology {
        padding: 16px !important;
    }

    .btn-service {
        font-size: 16px !important;
    }

    .collapse-content {
        margin: 0 auto;
    }

    #quote-con {
        padding: 24px !important;
    }

    footer {
        p {
            text-align: center;
            max-width: 250px;
            margin: 0 auto;
            padding-bottom: 24px !important;
        }

        .footer-logo {
            margin: 0 auto !important;
            padding-bottom: 8px;
            padding-top: 8px;
            display: block;
        }

        ul {
            text-align: center;
        }

        h3 {
            text-align: center;
            margin-top: 16px;
        }
    }

    #footer-bottom {
        p {
            text-align: center;
            font-size: 12px;
        }

        #social-icons {
            justify-content: center !important;
            margin-top: 16px;
        }
    }

    #careers {
        h3 {
            padding-top: 16px;
        }
    }

    #directory .btn-group {
        display: block;
        margin: 0 auto;
        padding-top: 16px;
    }

    #contact-page {
        #half-hero {
            height: auto;

            h1 {
                font-size: 60px;
            }
        }
    }

    #about-page {
        #half-hero {
            height: auto;
            padding: 16px !important;

            h1 {
                font-size: 60px;
            }
        }

.about-text {
    padding: 16px !important; 
}

.about-titles {
    padding: 16px !important;
}

    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #resources {
        p, h1, h3 {
            padding-left: 16px;
        }
    }

    #half-hero {
        height: auto;
    }

    #about {
        padding-left: 16px;

        .ippolito-img {
            margin-bottom: 40px;
        }
    }

    #safety {
        .ippolito-img {
            margin-bottom: 40px;
        }

        p, h3, h1 {
            padding-left: 16px;
        }
    }

    #drivers {
        padding-left: 16px;
    }


    #collapse_wrap {
        p, h2 {
            padding-left: 16px;
        }
    }

    .about-titles {
        padding-bottom : 0px !important;
    }

    .about-text {
        padding-top: 8px !important;
    }

    #about-page {
        .ippolito-img {
            text-align: center;
        }
    }

    #directory {
        .btn-group {
            display: block;
        }

        .btn-service {
            margin: 4px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }