@import './vars';
@import './modules/home';
@import './modules/footer';
@import './modules/about';

.btn-primary {
    background-color: $digital-blue !important;
    color: $white !important;
    font-weight: 700;
    font-size: 16px;
}

p {
    color: #333333;
    line-height: 32px;
    font-size: 16px;
    font-weight: 300;
    font-family: $ippolito-font;
}