@import './vars';
@import './modules/home';
@import './modules/footer';
@import './modules/about';
@import './modules/contact';
@import './modules/resources';

.btn-primary {
    background-color: $digital-blue !important;
    color: $white !important;
    font-weight: 700;
    font-size: 16px;
}

p {
    color: #333333;
    line-height: 32px;
    font-size: 16px;
    font-weight: 300;
    font-family: $ippolito-font;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

@media (max-width: 414px) {
    #hero-content {
        margin-top: 50px !important;
    }

    #about {
        padding: 16px;
    }

    #green_initiatives {
        h3 {
            padding-top: 16px !important;
        }
    }

    .btn-service {
        font-size: 16px !important;
    }

    .collapse-content {
        margin: 0 auto;
    }

    #quote-con {
        padding: 24px !important;
    }

    footer {
        p {
            text-align: center;
            max-width: 250px;
            margin: 0 auto;
            padding-bottom: 24px !important;
        }

        .footer-logo {
            margin: 0 auto !important;
            padding-bottom: 8px;
            padding-top: 8px;
            display: block;
        }

        ul {
            text-align: center;
        }

        h3 {
            text-align: center;
            margin-top: 16px;
        }
    }

    #footer-bottom {
        p {
            text-align: center;
            font-size: 12px;
        }

        #social-icons {
            justify-content: center !important;
            margin-top: 16px;
        }
    }

    #careers {
        h3 {
            padding-top: 16px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }