footer {
    background: $ippolito-blue;

    p {
        color: white !important;
        font-size: 13px;
        font-weight: 300;
    }

    h3 {
        color: white !important;
        font-family: $ippolito-font;
        font-weight: 700;
        font-size: 22px;
    }

    .nav-link {
        font-weight: 300;
        padding-left: 0 !important;
    }

    .nav-link a:hover {
        text-decoration: underline;
    }
}

.footer-logo {
    max-width: 120px;
}

.footer-hr {
    border: 2px solid #4074F7;
    margin: 0 !important;
}

#footer-bottom {
    border-top: 1px solid white;
    background: $ippolito-blue;

    p {
        color: white;
        font-size: 14px;
    }
}

#social-icons {
    font-size: 24px;
}

#bottom-links {
    color: white;

    a {
        color: white;
        font-size: 14px;
    }
}